{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod
}}

<div class="row">
    <!-- Mod name. -->
    <div class="col-12 col-md-5 mb-3 mb-md-0">
        <img src="https://moodle.ucl.ac.uk/theme/image.php/ucl/quiz/1724290347/monologo" class="icon mr-1">
        <a href="">modname</a>
    </div>

    <!-- Mod metadata. -->
    <div class="col">
        <div class="row">
            <!-- Due data. -->
            <div class="col-3">
                <small>
                    <span class="text-muted">Due:</span> 24/03/2025
                </small>
                <br>
                {{#submitted}}
                <span data-toggle="tooltip"
                    data-placement="bottom"
                    title="Submitted {{{submitteddate}}}"
                    class="badge badge-success">
                    Submitted
                </span>
                {{/submitted}}

                {{#submitedlate}}
                <span data-toggle="tooltip"
                    data-placement="bottom"
                    title="Submitted {{{submitteddate}}}"
                    class="badge badge-warning">
                    Submitted late
                </span>
                {{/submitedlate}}

                {{#overdue}}
                <span class="badge badge-danger">
                    Overdue
                </span>
                {{/overdue}}
            </div>

            <!-- Feedback data. -->
            <div class="col-3">
                <small>
                    <span class="text-muted">Feedback due:</span> 24/03/2025
                </small>
                <br>
                {{#released}}
                <span class="badge badge-success">
                    Released
                </span>
                {{/released}}

                {{#releasedlate}}
                <span class="badge badge-warning">
                    Released late
                </span>
                {{/releasedlate}}

                {{#overduerelease}}
                <span class="badge badge-danger">
                    Overdue
                </span>
                {{/overduerelease}}
            </div>

            <!-- Marks data. -->
            <div class="col-3 text-right">
                {{#mark}}
                <small class="text-muted">Mark:</small> <strong>30%</strong>
                {{/mark}}
                <br>
                {{#summative}}
                <span data-toggle="tooltip"
                    title="This summative assessment will count towards the overall course mark."
                    class="badge badge-dark">
                    Summative
                </span>
                {{/summative}}

                {{#formative}}
                <span class="badge badge-secondary">Formative</span>
                {{/formative}}
            </div>

        </div>
    </div>

    <!-- Free text fields. -->
    {{#additionaldata}}
    <div class="col p-2 bg-light small">
        {{#contant}}
            <span class="text-muted">Contact:</span>
            Kyle Minogue
            <br>
        {{/contant}}

        {{#feedbackmethod}}
            <span class="text-muted">Feedback method:</span>
            {{.}}
            <br>
        {{#feedbackmethod}}

        {{#additionalinformation}}
            <span class="text-muted">Additional information:</span>
            {{.}}
            <br>
        {{#additionalinformation}}
    </div>
    {{/additionaldata}}

</div>
<hr>