<!--
<div class="action-menu moodle-actionmenu section-actions">
    <a href="{{{url}}}"
    class="dropdown-item move waitstate menu-action"
    data-action="moveSection"
    data-id="{{id}}">
        <i class="icon fa fa-arrows fa-fw" aria-hidden="true"></i>
        Move
    </a>
</div>
-->