<div class="dropdown">
  <button class="btn btn-outline-secondary btn-icon dropdown-toggle rounded-circle nowt-after"
  type="button"
  id="dropdownMenuButton"
  data-toggle="dropdown"
  aria-haspopup="true"
  aria-expanded="false"
  title="edit section title">
    <i class="fa-solid fa-ellipsis-vertical"></i>
    {{! TODO }}
    <span class="sr-only"> edit section name </span>
  </button>
  <div class="dropdown-menu dropdown-menu-right"  aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{{{editurl}}}">
            <i class="fa-regular fa-pen-to-square mr-2"></i>
            Edit
        </a>
        <a class="dropdown-item" href="">
            <i class="fa-solid fa-arrows-up-down-left-right mr-2"></i>
            Move
        </a>

        {{#hideurl}}
        <a class="dropdown-item" href="{{{hideurl}}}">
            <i class="fa-regular fa-eye-slash mr-2"></i>
            Hide
        </a>
        {{/hideurl}}

        {{#showurl}}
        <a class="dropdown-item" href="{{{showurl}}}">
            <i class="fa-regular fa-eye mr-2"></i>
            Show
        </a>
        {{/showurl}}

        <hr>

        {{#highlighturl}}
        <a class="dropdown-item" href="{{{highlighturl}}}">
            <i class="fa-solid fa-highlighter mr-2"></i>
            Highlight
        </a>
        {{/highlighturl}}

        {{#unhighlighturl}}
        <a class="dropdown-item" href="{{{unhighlighturl}}}">
            <i class="fa-solid fa-highlighter mr-2"></i>
            Unhighlight
        </a>
        {{/unhighlighturl}}

        <a class="dropdown-item" href="">
            <i class="fa-solid fa-clone mr-2"></i>
            Duplicate
        </a>

        <!-- TODO - make confirm better. -->
        <a class="dropdown-item" onclick="return confirm('Are you sure?')" href="{{{deleteurl}}}">
            <i class="fa-regular fa-trash-can mr-2"></i>
            Delete
        </a>
    </div>
</div>
<style>
.nowt-after:after {
    display: none;
}
</style>